# Pandas

In [1]:
import pandas as pd

In [2]:
# Dataframe oluşturma.
dictionary = {"İsim": ["Ali", "Veli", "Kenan", "Murat", "Ayşe", "Hilal"],
             "Yaş": [15, 16, 17, 33, 45, 66],
             "Maaş": [100, 150, 240, 350, 110, 220]}

df = pd.DataFrame(dictionary) # DataFrame = Pandas değişken tipi
df

    İsim  Yaş  Maaş
0    Ali   15   100
1   Veli   16   150
2  Kenan   17   240
3  Murat   33   350
4   Ayşe   45   110
5  Hilal   66   220

In [3]:
# Verinin ilk 5 satırını gözlemlemek.
df.head()

# Verinin son 5 satırını gözlemlemek.
df.tail()

# Verinin sütun isimlerine erişmek.
df.columns

# Veri seti içerisindeki değişkenlere ait çeşitli bilgileri sunar. (Veri tipi, gözlem sayısı, sütun isimleri)
df.info()

# Veri setindeki numerik değişkenlere ait istatistiksel özellikleri verir.
df.describe().T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   İsim    6 non-null      object
 1   Yaş     6 non-null      int64
 2   Maaş    6 non-null      int64
dtypes: int64(2), object(1)
memory usage: 276.0+ bytes

      count   mean        std    min     25%    50%    75%    max
Yaş     6.0   32.0  20.474374   15.0   16.25   25.0   42.0   66.0
Maaş    6.0  195.0  94.815611  100.0  120.00  185.0  235.0  350.0

In [4]:
df.describe().T

      count   mean        std    min     25%    50%    75%    max
Yaş     6.0   32.0  20.474374   15.0   16.25   25.0   42.0   66.0
Maaş    6.0  195.0  94.815611  100.0  120.00  185.0  235.0  350.0

In [5]:
# Ders içi ödev

df_dict = {
    'Çalışan Adı': ['Ahmet', 'Zeynep', 'Emre', 'Ayşe'],
    'Departman': ['Muhasebe', 'Mühendislik', 'İK', 'Satış'],
    'Maaş': [7000, 9500, 6000, 7200],
    'Deneyim Yılı': [3, 7, 2, 4]
}

df2 = pd.DataFrame(df_dict)

print("İlk 5 gözlem\n", df2.head())
print("- - - - - - - - - - - - - - - - - - - - - - - - - - -")
print("Son 5 gözlem\n", df2.tail())
print("- - - - - - - - - - - - - - - - - - - - - - - - - - -")
print("Değişken isimleri\n", df2.columns)
print("- - - - - - - - - - - - - - - - - - - - - - - - - - -")
print("Veri setine ait temel bilgiler\n", df2.info())
print("- - - - - - - - - - - - - - - - - - - - - - - - - - -")
print("Numerik değişkenlere ait istatistikler\n", df2.describe())

İlk 5 gözlem
   Çalışan Adı    Departman  Maaş  Deneyim Yılı
0       Ahmet     Muhasebe  7000             3
1      Zeynep  Mühendislik  9500             7
2        Emre           İK  6000             2
3        Ayşe        Satış  7200             4
- - - - - - - - - - - - - - - - - - - - - - - - - - -
Son 5 gözlem
   Çalışan Adı    Departman  Maaş  Deneyim Yılı
0       Ahmet     Muhasebe  7000             3
1      Zeynep  Mühendislik  9500             7
2        Emre           İK  6000             2
3        Ayşe        Satış  7200             4
- - - - - - - - - - - - - - - - - - - - - - - - - - -
Değişken isimleri
 Index(['Çalışan Adı', 'Departman', 'Maaş', 'Deneyim Yılı'], dtype='object')
- - - - - - - - - - - - - - - - - - - - - - - - - - -
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Çalışan Adı   4 non-null      object
 1   Departman     4 non-null      object
 2   Maaş          4 non-null      int64
 3   Deneyim Yılı  4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 260.0+ bytes
Veri setine ait temel bilgiler
 None
- - - - - - - - - - - - - - - - - - - - - - - - - - -
Numerik değişkenlere ait istatistikler
               Maaş  Deneyim Yılı
count     4.000000      4.000000
mean   7425.000000      4.000000
std    1479.583275      2.160247
min    6000.000000      2.000000
25%    6750.000000      2.750000
50%    7100.000000      3.500000
75%    7775.000000      4.750000
max    9500.000000      7.000000

## Indexing & Slicing

In [6]:
# Dataframe oluşturma.
dictionary = {"İsim": ["Ali", "Veli", "Kenan", "Murat", "Ayşe", "Hilal"],
             "Yaş": [15, 16, 17, 33, 45, 66],
             "Maaş": [100, 150, 240, 350, 110, 220]}

df = pd.DataFrame(dictionary)

In [7]:
df["Yaş"] # Yaş değişkeninindeki değerlere erişilir.
df["Maaş"] # Maaş değişkeninindeki değerlere erişilir.
df["İsim"] # İsim değişkeninindeki değerlere erişilir.

# Dataframe Şehir adında yeni bir değişken eklemek.
df["Şehir"] = ["İstanbul", "Ankara", "İzmir", "Bursa", "Manisa", "Kocaeli"]

# %20 Zamlı halde maaş değişkeni oluşturmak.
df["Maas_yuzde_20_zamli"] = df["Maaş"] + (20*df["Maaş"]/100)

In [8]:
# loc : Location

df.loc[:, "Yaş"] # Tüm satırları ve yaş sütununu çıkartır.
df.loc[0:3, "Yaş"] # 0'dan 3'e kadar satırları ve yaş sütununu çıkartır.
df.loc[0:2, 'Yaş':'Şehir'] # 0'dan 2'ye kadar satırları ve yaştan şehire kadar sütunları çıkartır.

   Yaş  Maaş     Şehir
0   15   100  İstanbul
1   16   150    Ankara
2   17   240     İzmir

In [9]:
# iloc : İndex Location

df.iloc[:, 1] # Tüm satırları ve 1 indeksli sütunu yazdırır.
df.iloc[:, 1:3] # Tüm satırları ve 1'den 3'e kadar indeksli değişkenleri yazdırır.

   Yaş  Maaş
0   15   100
1   16   150
2   17   240
3   33   350
4   45   110
5   66   220

In [10]:
"""
1-) df kullanarak Murat ve 33'ün print edilmesi.
2-) 45, 110,
    66, 220'nin print edilmesi.
3-) Veli ve 45'in print edilmesi.
"""

# Iloc ile
print(df.iloc[3, 0:2]) # 1.sorunun cevabı.
print(df.iloc[4:6, 1:3]) # 2.sorunun cevabı.
print(df.iloc[1, 0], df.iloc[4, 1]) # 3.Sorunun cevabı

# Loc ile
print(df.loc[3, "İsim":"Yaş"]) # 1.sorunun cevabı.
print(df.loc[4:5, "Yaş":"Maaş"]) # 2.sorunun cevabı.
print(df.loc[1, "İsim"], df.loc[4, "Yaş"]) # 3.Sorunun cevabı

İsim    Murat
Yaş        33
Name: 3, dtype: object
   Yaş  Maaş
4   45   110
5   66   220
Veli 45
İsim    Murat
Yaş        33
Name: 3, dtype: object
   Yaş  Maaş
4   45   110
5   66   220
Veli 45

## Filtering

In [11]:
df[df["Yaş"] > 22] # 22 yaşından büyük kişilere erişme.
df[df["Şehir"] == "İzmir"] # İzmir'de yaşayan kişilere erişme.
df[(df["Şehir"] == "Manisa") & (df["Yaş"] > 20)] # Manisa'da yaşayan ve yaşı 20'den büyük olan satırları filtreler.

   İsim  Yaş  Maaş   Şehir  Maas_yuzde_20_zamli
4  Ayşe   45   110  Manisa                132.0

In [12]:
"""
1-) DataFrame'e maaş sütunu ekle.
2-) yaş/maaş oran sütunu ekle.
3-) yaş/maaş sütunu için ortalamayı print et.
4-) Ankara'da yaşayanların ortalama yaşını bul.
5-) Ankara'da yaşayanların içinden en yüksek maaş alanı bul.
"""

# Dataframe oluşturma.
dictionary = {"İsim": ["Ali", "Veli", "Kenan", "Murat", "Ayşe", "Hilal"],
             "Yaş": [15, 16, 17, 33, 45, 66],
             "Şehir": ["İzmir", "Ankara", "Konya", "Ankara", "Ankara", "Antalya"]}

df = pd.DataFrame(dictionary)

df["Maaş"] = [150, 200, 250, 330, 220, 500] # 1.Sorunun cevabı
df["Yaş_Maaş_Oranı"] = df["Yaş"] / df["Maaş"] # 2.Sorunun cevabı
df["Yaş_Maaş_Oranı"].mean() # 3.Sorunun cevabı
df[df["Şehir"] == "Ankara"]["Yaş"].mean() # 4.Sorunun cevabı
df[df["Şehir"] == "Ankara"]["Maaş"].max() # 5.Sorunun cevabı

330

In [13]:
"""
For döngüsü kullanarak, maximum maaş alanın ismini yazdıralım.
"""

maks_maas = 0
maks_isim = ""

for i in range(len(df["Maaş"])):
    if df["Maaş"][i] > maks_maas:
        maks_maas = df["Maaş"][i]
        maks_isim = df["İsim"][i]
print(maks_isim)

# idxmax en yüksek değerin indeksini döndürür.
df.loc[df["Maaş"].idxmax(), "İsim"] # Aynı işlemi yapan kısa bir kod.

Hilal

'Hilal'

## List Comprehension - Liste Kavrama

In [14]:
dictionary = {"İsim": ["Ali", "Veli", "Kenan", "Murat", "Ayşe", "Hilal"],
             "Yaş": [15, 16, 17, 33, 45, 66],
             "Şehir": ["İzmir", "Ankara", "Konya", "Ankara", "Ankara", "Antalya"]}

df = pd.DataFrame(dictionary)

"""
İnsanların ortalama yaşını bulalım. 
bu yaştan büyük ve küçük olanları filtreleyelim.
büyük olanlarla yeni bir feature oluşturarak büyük, küçük olanlara
küçük yazalım.
"""

# Çözüm
ort_yas = df["Yaş"].mean()

df["Yaş_Ort_Büyük"] = df["Yaş"].apply(lambda x: "büyük" if x > ort_yas else "küçük")

# Veya
df["Yaş_Ort_Büyük2"] = ["Küçük" if ort_yas > df["Yaş"][i] else "Büyük" for i in range(len(df["Yaş"]))]

In [15]:
"""
Tüm satırlara bakalım eğer ankarada yaşayan varsa, yaşı x 2 olsun
yoksa da yaş x 5 işlemiyle Yeni_Yaş sütunu oluşturalım.
"""
# Çözüm
yeni_yas_listesi = []

for i in range(len(df["Şehir"])):
    if (df["Şehir"][i] == "Ankara"):
        yeni_yas_listesi.append(df["Yaş"][i] * 2)
    else:
        yeni_yas_listesi.append(df["Yaş"][i] * 5)
        
# Veya        
df["Yeni_Yaş2"] = [df["Yaş"][i] * 2 if df["Şehir"][i] == "Ankara" else df["Yaş"][i] * 5 for i in range(len(df["Yaş"]))]

# Veya
def yascarpim(df):
    if df["Şehir"] == "Ankara":
        return df["Yaş"] * 2
    else:
        return df["Yaş"] * 5

df["Yeni_Yaş"] = df.apply(yascarpim, axis=1)

In [16]:
"""
Dataframe'de bulunan insanların isimlerinin uzunluğu 5 ise yeni yaşı
2 ile çarpalım eğer isim uzunluğu 4 ise 3 ile çarpalım, hiçbiri değil ise
4 ile çarpalım.
"""

def yeni_yas_hesapla(df):
    isim_uzunlugu = len(df["İsim"])
    if isim_uzunlugu == 5:
        return df["Yaş"] * 2
    elif isim_uzunlugu == 4:
        return df["Yaş"] * 3
    else:
        return df["Yaş"] * 4
    
df["Yeni_Yaş"] = df.apply(yeni_yas_hesapla, axis = 1)

In [17]:
df

    İsim  Yaş    Şehir Yaş_Ort_Büyük Yaş_Ort_Büyük2  Yeni_Yaş2  Yeni_Yaş
0    Ali   15    İzmir         küçük          Küçük         75        60
1   Veli   16   Ankara         küçük          Küçük         32        48
2  Kenan   17    Konya         küçük          Küçük         85        34
3  Murat   33   Ankara         büyük          Büyük         66        66
4   Ayşe   45   Ankara         büyük          Büyük         90       135
5  Hilal   66  Antalya         büyük          Büyük        330       132

## Merging - Birleştirme

In [18]:
sozluk1 = {"isim": ["ali", "veli"],
          "yas": [15, 16]}
df1 = pd.DataFrame(sozluk1)

sozluk2 = {"isim": ["murat", "ayse"],
          "yas": [32, 33]}
df2 = pd.DataFrame(sozluk2)

In [19]:
merged_df = pd.concat([df1, df2], axis = 0)
merged_df

    isim  yas
0    ali   15
1   veli   16
0  murat   32
1   ayse   33

In [20]:
sozluk1 = {"isim": ["ali", "veli"],
          "yas": [15, 16]}
df1 = pd.DataFrame(sozluk1)

sozluk3 = {"sehir": ["ankara", "istanbul"],
          "yas": [22, 23]}
df3 = pd.DataFrame(sozluk3)

In [21]:
merged_df2 = pd.concat([df1, df3], axis = 0, ignore_index = True)
# merged_df2.reset_index(drop=True, inplace=True)
merged_df2

   isim  yas     sehir
0   ali   15       NaN
1  veli   16       NaN
2   NaN   22    ankara
3   NaN   23  istanbul